<web-app>

<servlet>
<servlet-name>wish</servlet-name>
<servlet-class>com.skp.servlet.WishMessageGenerator</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>wish</servlet-name>
<url-pattern>/wishme</url-pattern>
</servlet-mapping>

<dependency>
<groupId>org.apache.tomcat</groupId>
<artifactId>tomcat-jasper</artifactId>
<version>9.0.19</version>
</dependency>

</web-app>