<web-app>
<!--Servlet configuration-->
<servlet>
    <servlet-name>vote</servlet-name>
	<servlet-class>com.skp.servlet.CheckVotingEligibility</servlet-class>
</servlet>

<!--Servlet mapping-->
<servlet-mapping>
     <servlet-name>vote</servlet-name>
	 <url-pattern>/voteurl</url-pattern>
</servlet-mapping>
</web-app>